<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="./css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <title>MAIN HOME</title>
</head>
<body>
    HOME PAGE
    <br>
    <li>
        <form action="insertData" method="get">
            MONGO DB 데이터 입력하기 : 
            <button type="submit" class="btn btn-outline-info">INPUT DATA</button>
        </form>
    </li>
    <li>
        <form action="getData" method="post">
            MONGO DB 데이터 확인 :
            <button type="submit" class="btn btn-outline-info">GET DATA</button>
        </form>
    </li>
</body>
</html>